.main {
    position: relative;
    background-color: #daf3f7;
    padding: 5px 0;
    text-align: center;
}

.text {
    display: inline-block;
    position: relative;
    color: #323232;
    padding-left: 20px;
}

.text::before {
    position: absolute;
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    left: 0;
    background: url('./man-icon.svg') no-repeat center;
}

.shell {
    max-height: 50px;
    transition: all 1s;
}

.hide {
    max-height: 0;
}